<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteRule ^(stats/.*) $1 [L]
    RewriteRule ^(css/.*) /public/$1 [L]
    RewriteRule ^(js/.*) /public/$1 [L]
    RewriteRule ^(fonts/.*) /public/$1 [L]
    RewriteRule ^(plugin/.*) /public/$1 [L]
    RewriteRule ^(images/.*) /public/$1 [L]

    #RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*) /public/index.php
</IfModule>

AuthType Basic
AuthName "Members Only"
AuthUserFile /var/www/clients/client1/web1/web/.htpasswd
require valid-user
