// Variables
@import 'variables';

$adminLinkPaddingLR: 1rem;
$adminLinkPaddingTB: 1rem;
$adminLinkPadding: $adminLinkPaddingTB $adminLinkPaddingLR;

.admin-nav-wrapper {
    background: $secondaryBg;
    min-height: 100vh;
    z-index: 1040;
    float: left;
    position: fixed;
    width: 250px;
    transition: width 0.5s;
}

.admin-content-wrapper {
    transition: margin-left 0.5s;
    margin-left: 250px;
    flex-grow: 3;
}

.admin-nav-wrapper > ul {
    position: relative;
    display: flex;
    flex-flow: column;
    
    padding: 0;
    margin: 0;
}

.admin-nav-item {
    list-style: none;
    width: inherit;
}

.admin-nav-dropdown {
    list-style: none;
    width: inherit;
}

.admin-nav-dropdown-items {
    list-style: none;
    padding: 0;
    padding-left: $adminLinkPaddingLR;
}

.admin-nav-link {
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    padding: $adminLinkPadding;
}

.admin-nav-link[aria-expanded=true]:not(#admin-nav-minimizer),
.admin-nav-dropdown-items,
.admin-nav-dropdown-items .admin-nav-link,
.admin-nav-item-hovering,
.admin-nav-link:hover {
    transition: background-color 0.5s;
    transition: color 0.5s;
    background-color: $text-color;
    color: $secondaryBg;
}

.admin-nav-chevron.fa-chevron-down {
    display: none;
}

.admin-nav-link[aria-expanded=true]:not(#admin-nav-minimizer) .fa-chevron-down {
    display: block;
}

.admin-nav-link[aria-expanded=true]:not(#admin-nav-minimizer) .fa-chevron-left {
    display: none;
}

.admin-nav-chevron {
    float: right;
}

.admin-nav-icon {
    margin-right: 0.5rem;
}

.admin-nav-brand {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.125rem;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-align: center;
}



#admin-nav-minimizer {
    position: absolute;
    bottom: 0;
}

.admin-nav-minimized {
    width: 47px;
    overflow: hidden;
}

.admin-nav-minimized .admin-nav-chevron {
    display: none;
}

.admin-nav-minimized ~ .admin-content-wrapper {
    margin-left: 47px;
}

.admin-nav-minimized #admin-nav-minimizer .fa-chevron-left {
    display: none;
}

#admin-nav-minimizer .fa-chevron-right {
    display: none;
}

.admin-nav-minimized #admin-nav-minimizer .fa-chevron-right {
    display: block;
}