// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// General variables
@import 'variables';

// Body

// Colors
$primary: #edd492;
$secondary: #7d510f;
$primaryBg: #fbf6e9;
$secondaryBg: #edd492;
$text-color: #7d510f;
$link-color: #7d510f;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$body-bg:                   rgba(192, 192, 192, 0.835);
$component-active-bg:       $body-bg;
$card-bg:                   rgba(207, 207, 207, 0.6);
$dropdown-bg:               rgb(207, 207, 207);

$component-active-color: black;
$pagination-disabled-color: black;
$link-color: rgb(85, 58, 11);
$pagination-color: black;
$pagination-hover-color: black;
$popover-bg: rgb(207, 207, 207);


// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";
@import 'plugins/bootstrap-timeline/css/style';
@import 'select2/src/scss/core';
@import '@ttskch/select2-bootstrap4-theme/src/select2-bootstrap4';

// Plugins
@import "plugins/flag-icon-css/flag-icon.min.css";

@import "customStyles";

body {
    background: url(/images/background/background-light.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-bg {
    background: rgb(237, 212, 146,0.95);
    border-bottom: 1px solid black;
}

.footer-bg {
    background: rgb(237, 212, 146,0.95);
    border-top: 1px solid black;
}

.container {
    background-color: rgba(245, 245, 245, 0.87);
}

// Tooltips should be white inside for light-mode
.tooltip-inner {
    background-color: #FFF;
    color: #000;
    border: 1px solid $primary;
}

#newsCarousel{
    border: 1px solid black !important;
}
