// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";
@import 'plugins/bootstrap-timeline/css/style';
@import 'select2/src/scss/core';
@import '@ttskch/select2-bootstrap4-theme/src/select2-bootstrap4';

// Plugins
@import "plugins/flag-icon-css/flag-icon.min.css";

@import "customStyles";

// Tooltips should be white inside for light-mode
.tooltip-inner {
    background-color: #FFF;
    color: #000;
    border: 1px solid $primary;
}