@import "views/global";
@import "views/team";
@import "views/cookieConsent";
@import "views/navbar";
@import "views/AnimHistMap";
@import "views/record";
@import "views/conquer";

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
    bottom: 0 !important;
}

.nowrap {
    white-space: nowrap;
}

.absolute-top {
    position: absolute;
    top: 0;
    left: 0;
}

.absolute-full-top {
    @extend .absolute-top;
    width: 100%;
    height: 100%;
}
