// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// General variables
@import 'variables';

$primaryBg: #000000;
$secondaryBg: #2D1C08;
//most colors are beeing handled via bootstrap dark theme

// Bootstrap
@import 'plugins/bootstrap-dark/bootstrap-dark';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';
@import 'plugins/bootstrap-timeline/css/style';
@import 'select2/src/scss/core';
@import '@ttskch/select2-bootstrap4-theme/src/select2-bootstrap4';

// Plugins
@import "plugins/flag-icon-css/flag-icon.min.css";

@import "customStyles";

body {
    background: url(/images/background/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-bg {
    @extend .dark-img-bg;
}

.footer-bg {
    @extend .dark-img-bg;
}

.container {
    background-color: rgba(37, 37, 37, 0.95) !important;
}

.btn:focus,
.btn:active,
.form-control:active,
.form-control:focus,
.page-link:active,
.page-link:focus {
    box-shadow: 0px 1px 2px 3px rgba(189, 189, 189, 0.2) !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color: #6e6d6d !important;
}

.fas.fa-star.text-primary,
.far.fa-star.text-primary {
    color: rgb(24, 24, 24) !important;
}

.select2-dropdown {
    background-color: rgb(78, 78, 78) !important;
}

.select2-container--bootstrap4 .select2-results__option--highlighted{
    background-color: #3e3e3f !important;
    color: #ced4da !important;
}

.select2-selection,
.custom-select {
    background-color: #3e3e3f !important;
}

.select2-selection__placeholder {
    color: rgb(202, 202, 202) !important;
}

.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field {
    background-color: $input-focus-bg;
}