/* Main styles for all layouts */
.container {
    flex-grow: 3;
    border-radius: 5px;
    @extend .mb-5;
    @extend .pb-3;
    margin-top: 5rem;
}

@include media-breakpoint-up(xl) {
    .container {
        max-width: inherit;
        width: max(80%, calc(540px + 50%));
    }
}

body, html {
    height: 100%;
}

body {
    background: $primaryBg;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.discord{
    height: 400px;
    width: 280px;
}

.cust-responsive > .dataTables_wrapper > .row:nth-child(2) {
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.dark-img-bg {
    background: #212327 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABmJLR0QAIQAjACea4/AZAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA5ElEQVRYw83YOw6AIBBF0dEOVmFi4f43J6VWGFGU33werc3JjQrMtKzbQYDLO0d7CDQjwoiI9hDIO4cDvMPigiiYg92fzYgw04I1MJOCLTDVgj0wlYIjMNGCHDCRgpww1oISMJaCkrChghqwroKasKaCFrCqgpaw34IIsGxBJFhSEBGWFIxHa8R1vYOxHhr09RWjQT//gyjQ4k5iDa3ei62gzacZbWj3eVALOnyiloay3UmkoOy3Om6o2L2YCyo+WRiFqs1meqHq061WqNl8sBZqPmEtQWFm1F9QqBl1Dgo55X9CT69VsrnBG367AAAAAElFTkSuQmCC');
}
